.overlay {
	position: relative;

	height: 100vh;

	// background: url('../media/parrot.webp') right 65% no-repeat;

	background-size: auto 80vh;
	background-color: #131215;

	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;

	padding-left: 20rem;

	&__img {
		position: absolute;
		right: 0;
		top: 0;

		bottom: 0;
		top: 0;
		margin: auto 0;
		height: 80vh;
		z-index: 1;
		cursor: pointer;
		pointer-events: none;
	}

	&__header {
		color: $color-primary;

		width: 70rem;
	}

	&__h1 {
		font-size: 6.4rem;
		font-weight: 200;
		letter-spacing: 3px;

		animation: fade-from-left-with-opacity 1s 0.35s backwards;

		display: inline-block;

		transform: translateX(-1rem);
	}

	&__h2 {
		color: white;
		font-size: 2rem;
		text-align: center;

		animation: fade-from-right-with-opacity 1s 1s backwards;

		display: inline-block;

		font-weight: 400;
		letter-spacing: 1px;
		margin-top: 2rem;
		text-align: justify;
	}

	&__btn {
		animation: fade-from-bottom-with-opacity 1s 1.6s backwards;
		z-index: 1;

		&:hover {
			transform: translateY(-2px);

			background-color: $color-primary;
			box-shadow: 0 0 1.5rem $color-primary; // Dodajemy delikatny cień dla efektu neonu
		}
		&:focus {
			transform: translateY(1px);
		}
	}

	&__scroll-btn {
		position: absolute;
		z-index: 1;

		bottom: 2rem;
		left: 0;
		right: 0;

		margin: 0 auto;

		border: 0;
		background-color: transparent;

		font-size: 6rem;

		transition: 0.3s;

		transform: translateX(-50%);
		animation: floatAnimation 2s ease-in-out infinite;
		a {
			color: rgba(white, 0.2);
		}
	}
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	left: 0;
}
